.leaflet-top .leaflet-control {
    margin-top: 0.5rem;
    margin-right: 1.5rem;
}

.ui-widget-content {
    height: 0.9rem ;
 }
 
 .ui-widget-content .ui-state-default {
    width: 1.25rem;
    height: 1.25rem;
    background: black;
    }
 
 .ui-widget-content .ui-state-active {
     background: #feb3ff !important;
     border-color: black;
 }
 
 .ui-widget-header {
    background: #838383 !important;
 
 }
 
 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-radius: 50%!important;
 }
 
#map #leaflet-slider {
     display: block;
     border-color: black;
     width: 12.5em;
     position: absolute;
 } 

 
#map .slider {
     background: #FFFFFF;
     box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
     border-radius: 5px;
     text-align: center;
     position: relative;
     display: block;
     font-size: 1.25em;
     font-weight: bold;
     width: 12.5em;
     top: 1.4em;
     }

#map #slider-min, #slider-max {
     font-size: 1.1em;
     top: -1.25em;
     }     

 #map #slider-min {
     display: inline-block;
     margin: auto; 
     position: relative; 
     right: 1.5em;
     color: blue; 
     background-color: rgb(255, 255, 255, 0.8); 
     padding-left:0.25em; 
     padding-right:0.25em; 
     border-radius: 5px; 
     text-shadow: 2px 2px 4px white; 
     white-space: normal; 
     text-align: center; 
     font-weight: bold; 
     box-sizing: border-box;
     -webkit-user-select: none; /* Safari */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* IE 10 and IE 11 */
     user-select: none; /* Standard syntax */
 }
 
 #slider-max {
     display: inline-block;
     margin: auto; 
     position: relative; 
     left: 4.5em;
     color: blue; 
     background-color: rgb(255, 255, 255, 0.8); 
     padding-left:0.25em; 
     padding-right:0.25em; 
     border-radius: 5px; 
     text-shadow: 2px 2px 4px white; 
     white-space: normal; 
     text-align: center; 
     font-weight: bold; 
     box-sizing: border-box;
     -webkit-user-select: none; /* Safari */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* IE 10 and IE 11 */
     user-select: none; /* Standard syntax */
 }

 
#map .prevent-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#map #slider-timestamp {
    display: inline-block;
    position: relative; 
    font-weight:bold; 
    color:black; 
    background-color: rgb(255, 255, 255, 0.6); 
    border-radius: 10px; 
    font-size: 1.5em; 
    top: 0.5em; 
    white-space:normal; 
    text-align:center; 
    width: 8em; 
    margin: auto; 
    box-shadow:0 1px 7px rgba(0, 0, 0, 0.65); 
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
}
 
 #map #slider-current {
     display: block;
     position: relative;
     font-weight: bold;
     color: black;
     background-color: rgb(255, 255, 255, 0.6);
     text-shadow: 0px 0px 5px white;
     font-size: 1.35em; 
     white-space: nowrap;
     text-align: center;
     width: 12.5em;
     border-radius: 10px;    
     box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
     top: 0.5em; 
     margin: auto; 
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
 }
 
/* for mobile & tablets */ 

@media screen and (max-width: 991px) {
.ui-widget-content {
    height: 1.35rem !important;
}

.ui-widget-content .ui-state-default {
    width: 2rem !important;
    height: 2rem !important;
    background: black;
    }
    
#map .slider {
     width: 12.5em;
     top: 1.75em;
     }
}

@media screen and (max-width: 1023px) {
.ui-widget-content {
    height: 1.2rem;
}

.ui-widget-content .ui-state-default {
    width: 1.5rem;
    height: 1.5rem;
    background: black;
    }
}
